.project{
    background: rgb(59,25,30);
    background: linear-gradient(0deg, rgba(59,25,30,1) 0%, rgba(131,16,27,1) 100%);
    height: 100vh;
}
/* .image img{
    height: 100%;
    width: 300px;
} */

.photo img{
    height: 420px;
    width: 300px;
}

@media only screen and (max-width: 1085px){

.project{
    height: fit-content;
    padding-bottom: 5rem;
}
}

@media only screen and (max-width: 767px){
.project{
    height: fit-content;
    padding-bottom: 5rem;
}
}